.header-big-img{
    background: linear-gradient(180deg, rgba(26, 26, 26, 0.0001) 0%, #1A1A1A 100%), linear-gradient(0deg, rgba(33, 33, 33, 0.5), rgba(33, 33, 33, 0.5)), url(/img/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

